* {margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {background: black;
   }

 .game-board { background-image: linear-gradient(to bottom right, black, purple, rgb(206, 112, 5));
width: 80%;
height: 500px;
border: 1px solid #333;
margin: 0 auto;
position: relative;
overflow: hidden;}

.ufo {position: absolute;
    width: 200px;
    bottom: 300px;
    animation: uflight 8s infinite;}
    
@keyframes uflight {
    from {right: -600px;}
    to {right: 100%;}
    
}